<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>Predict brand, model, num of km _ Nguyen Van Dat</title>
    </head>
    <body>

        <form action="" method="post">
            {{ form.csrf }}

            <span class="input text1" >
                {{ form.title.label }} {{ form.title(rows='10',cols='50') }}
            </span>
            <span class="input text2" >
                {{ form.description.label }} {{ form.description(rows='10',cols='50') }}
            </span>

            <div class="input submit">
                <input type="submit" value="Submit" />
            </div>

        </form>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message[1] }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </body>
</html>